<%= form_for(@haircut) do |f| %>
  <% if @haircut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@haircut.errors.count, "error") %> prohibited this haircut from being saved:</h2>

      <ul>
      <% @haircut.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <%= f.hidden_field :barber_id , :value => @barber_id %>
  <%= f.hidden_field :view_count , :value => 0 %>
  <%= f.hidden_field :like_count , :value => 0 %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
