<%= form_for(@haircut) do |f| %>
  <% if @haircut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@haircut.errors.count, "error") %> prohibited this haircut from being saved:</h2>

      <ul>
      <% @haircut.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :barber_id %><br>
    <%= f.number_field :barber_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :view_count %><br>
    <%= f.number_field :view_count %>
  </div>
  <div class="field">
    <%= f.label :like_count %><br>
    <%= f.number_field :like_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
