<%= form_for(@haircut_picture) do |f| %>
  <% if @haircut_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@haircut_picture.errors.count, "error") %> prohibited this haircut_picture from being saved:</h2>

      <ul>
      <% @haircut_picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :haircut_id %><br>
    <%= f.number_field :haircut_id %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
