<h1>Listing haircut_pictures</h1>

<table>
  <thead>
    <tr>
      <th>Haircut</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @haircut_pictures.each do |haircut_picture| %>
      <tr>
        <td><%= haircut_picture.haircut_id %></td>
        <td><%= haircut_picture.url %></td>
        <td><%= link_to 'Show', haircut_picture %></td>
        <td><%= link_to 'Edit', edit_haircut_picture_path(haircut_picture) %></td>
        <td><%= link_to 'Destroy', haircut_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Haircut picture', new_haircut_picture_path %>
