<p id="notice"><%= notice %></p>

<p>
  <strong>Haircut:</strong>
  <%= @haircut_picture.haircut_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @haircut_picture.url %>
</p>

<%= link_to 'Edit', edit_haircut_picture_path(@haircut_picture) %> |
<%= link_to 'Back', haircut_pictures_path %>
