<%= form_for(@haircut_tag) do |f| %>
  <% if @haircut_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@haircut_tag.errors.count, "error") %> prohibited this haircut_tag from being saved:</h2>

      <ul>
      <% @haircut_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :haircut_id %><br>
    <%= f.number_field :haircut_id %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br>
    <%= f.number_field :tag_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
