<%= form_for(@haircut_type) do |f| %>
  <% if @haircut_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@haircut_type.errors.count, "error") %> prohibited this haircut_type from being saved:</h2>

      <ul>
      <% @haircut_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
