<h1>Listing barbers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Zip</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Avatar url</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @barbers.each do |barber| %>
      <tr>
        <td><%= barber.name %></td>
        <td><%= barber.bio %></td>
        <td><%= barber.address1 %></td>
        <td><%= barber.address2 %></td>
        <td><%= barber.zip %></td>
        <td><%= barber.city %></td>
        <td><%= barber.state %></td>
        <td><%= barber.country %></td>
        <td><%= barber.avatar_url %></td>
        <td><%= barber.status %></td>
        <td><%= link_to 'Show', barber %></td>
        <td><%= link_to 'Edit', edit_barber_path(barber) %></td>
        <td><%= link_to 'Destroy', barber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barber', new_barber_path %>
