<p id="notice"><%= notice %></p>
<h1>Barber Profile</h1>
<%= link_to 'Edit Profile', edit_user_registration_path %><br>
<%= link_to 'New Haircut', controller: 'haircuts', action: 'new', barber_id: @barber.id %>

<p>
  <strong>Username:</strong>
  <%= current_user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag current_user.avatar.url(:medium)%>
</p>

<p>
  <strong>User Id:</strong>
  <%= @barber.user_id %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @barber.bio %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @barber.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @barber.address2 %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @barber.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @barber.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @barber.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @barber.country %>
</p>

<p>
  <strong>Status:</strong>
  <%= @barber.status %>
</p>

<%= link_to 'Edit', edit_barber_path(@barber) %> |
<%= link_to 'Back', barbers_path %>
