<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Yellowtail|Fredericka+the+Great|Lily+Script+One|Oleo+Script+Swash+Caps|Molle:400italic|Lobster|Damion' rel='stylesheet' type='text/css'>
	<!-- devise notice alert:

	<p class="notice"><%= notice %></p>
	
  <p class="alert"><%= alert %></p> -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">

  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "jquery.masonry.min" %>

  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <a href="#Top"></a>
</head>
<body>
<div id="wrap">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- had navbar-static-top-->
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to site_name, site_url, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="browseDropdown">
            <li style="padding-left:15px;"><b>Haircuts</b></li>
            <li><a tabindex="-1" href="#">Short</a></li>
            <li><a tabindex="-1" href="#">Medium</a></li>
            <li><a tabindex="-1" href="#">Long</a></li>
            <li><a tabindex="-1" href="#">Braids</a></li>
            <li><a tabindex="-1" href="#">Eyebrows</a></li>
            <li><a tabindex="-1" href="#">Stash and Beard</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#"><b>Barbers</b></a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#"><b>Deals</b></a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#"><b>Profile</b></a></li>
          </ul>
        </li>
      </ul>

      <!-- Search Form -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-search"><b class="caret"></b></a>
          <ul id="dropdown" class="dropdown-menu" role="menu" aria-labelledby="dropdownSearch">

      <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="text" style="width: 300px;" class="form-control pull-left" placeholder="Search" id="query" name="query" value="">
          <div class="input-group-btn">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>

      </div>
        </div>
        </ul>
       </li>
      </ul>

      <!-- Sign In Form -->
      </form>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
          <li style="padding:13px;">
=======
          <li style="padding:15px;">
>>>>>>> c17be53acfded57e6d8d85730156f1c976742426
            <%= image_tag current_user.avatar.url(:thumb)%>
            <%= current_user.username %> 
          </li>
          <li class="nav navbar-nav">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
        </ul>
      
      <% else %>
      <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD

        <li>
          <%= link_to "Register", users_sign_up_path %>
        </li>
=======
        <li>
          <%= link_to "Register", users_sign_up_path %>
>>>>>>> c17be53acfded57e6d8d85730156f1c976742426
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sign In <b class="caret"></b>
          </a>

          
          <ul class="dropdown-menu" style="padding:15px;">
            <li>
              <%= form_for("user", :url => user_session_path) do |f| %>
              <div>
                Email   
              </div>
              <div>
                 <%= f.text_field :email, :size=>"30" %>
              </div>
               <div>Password<br/><%= f.password_field :password, :size=>"30" %>
              </div>
              <div>
               <span>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
               <span/>
               <span style="margin-left:10%;">
                <%= f.submit 'Sign in' %>
               </span>
              </div>
              <div style="text-align:center;">
               <%= link_to "Forgot your password?", new_password_path('user') %>
              </div>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div> <!--navbar-collapse -->
  </div><!--container-->
</nav>

  <% if current_page?(root_path) %>
    <% if content_for?(:jumbotron) %>
      <div class="jumbotron">
        <div class="container">
          <%= yield :jumbotron %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="container">

  <% end %>
  <%= yield %>
  
  </div> <!-- /container -->

<!-- Static bottom navbar -->
  <footer id="footer" class="navbar navbar-fixed-bottom navbar-default">
      <div class="container">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "About", about_path %>
            </li>
            <li>
              <%= link_to "Privacy", privacy_path %>
            </li>
            <li>
              <%= link_to "Terms", terms_path %>
            </li>
            <li>
              <%= link_to "Support", support_path %>
            </li>
            <li>
              <%= link_to "Contact", contact_path %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li style="padding:15px;">
              &copy;<%= Time.now.year %> <%= site_name %>
            </li>
          </ul>
      </div>
  </footer>
</div> <!--WRAP-->
</body>
</html>